---
layout: main
title: Aklima Dusenler
permalink: /aklima-dusenler/
---


<h1>Kısa Kısa</h1>
<ul class="tags">
<p><p>Karanlık sanatlara karşı savunma dersi... </p>
</ul>


<article class="article-page">
  <div class="page-content">
    <div class="wrap-content">
  
        Burada yazılar yazarken akılcı ve gerçekçi olmaya çalışsak da sezgiselliğin kapısını kapatmamak gerek. Burada biraz daha farklı bir şey yapacak görece daha felsefi ya da şiirsel düşünceleri topluyorum. Anlatımlar bazen daha edebiyken bazen daha somut olabiliyor. İlerleyen vadede bu düşünceleri daha düzenli hale getirmek isteyebilirim.</p>
      
      {% for member in site.data.aklima-dusenler %}
      <div style="border-bottom: 1px solid #dfe1e5;">
      <div><h3>#{{ member.id }} - {{ member.name }}</h3><div></div></div>
      <div><p>{{ member.desc }}</p></div>
    </div>
      {% endfor %}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>
        </div>

      </div>
      {% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->