---
layout: main
---
{% for post in paginator.posts %} 
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
    <div style="float:left;" class="post-date"><p>Oluşturulma Tarihi:</p> <p>{{post.date | date: '%Y, %b %d'}}</p> <p>Son Düzenlenme Tarihi:</p> <p>XX-XX-XX</p> <p>Etiketler:</p><p>#XX #XX</p>&nbsp;&nbsp;&nbsp;—&nbsp;</div>
    <div class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</div>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
