---
layout: main
---
<article class="kitaplar">
<div>
  <h1>Kitap Analizi: {{ page.title }}</h1>

  <div>
    {{ content }}
  </div>

  <div class="kitaplar-class {{ page.class | downcase }}">
    {{ page.class }}
  </div>

  <div class="kitaplar-family {{ page.family | downcase }}">
    {{ page.family }}
  </div>
</div>

<div>
  {% if page.picture %}
    <img src="{{ page.picture }}" style="max-width: 355px; float: right;" alt="Photo of a {{ page.title | downcase }}">
  {% endif %}

</div>

</article>