<!DOCTYPE html>
<html lang="en">
    <head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://tozbulut.github.io/css/normalize.css">
  <link rel="stylesheet" href="https://tozbulut.github.io/css/skeleton.css">
  <link rel="stylesheet" href="https://tozbulut.github.io/css/custom.css">

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="https://tozbulut.github.io/css/github-prettify-theme.css">
  <script src="https://tozbulut.github.io/js/site.js"></script>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">


    </head>
    <body class="code-snippets-visible">
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

    <section class="header">
      <h2 class="title">Derinlerde hepimiz aynıyız.</h2>
      
      <div class="value-props row">
        <div class="four columns value-prop">
          <img class="value-img" src="https://tozbulut.github.io/images/notes_underground3.jpg">
          Yeraltından Notlar
        </div>
        <div class="four columns value-prop">
          <img class="value-img" src="https://tozbulut.github.io/images/silence_of_the_lambs.jfif">
          Kuzuların Sessizliği ve Lecter
        </div>
        <div class="four columns value-prop">
          <img class="value-img" src="https://tozbulut.github.io/images/yedinci-kita.jpg">
          16. İstanbul Bienali İzlenimleri
        </div>
      </div>
    </section>

    <div class="navbar-spacer"></div>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/">Tozbulut</a></li>
          <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/yazilar">Yazılar</a></li>
          <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/kisa-kisa">Kısa Kısa</a></li>
          <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/radar">Radar</a></li>
          <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/etiketler">Etiketler</a></li>
          <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/hakkinda">Hakkında</a></li>

        
        </ul>
      </div>
    </nav>

    <div class="docs-section" id="intro">
      <h6 class="docs-header">Bu Blog Neden Var?</h6>
      <p>Kültür ürünlerinin bolluğu içerisinde boğulmanın işten bile olmadığı günümüze çoğu zaman tükettiğimizin bizi nereye götürdüğünden bile emin olamıyoruz. "Derinleşmek" temel problemimiz.
        Tozbulut internetin sonsuz dünyasında dikkate değer olanlar üzerine yoğunlaşma fikrinin bir sonucu. Belki de derinleşmek ancak bu şekilde mümkün olabilir...
      </p>

        <p>Kendini yazılı olarak ifade edebilmek, bunun için çaba harcamak hayatın her alanında önemli. Buna dayalı bir şeyler ortaya koymak son derece heyecan verici.
        Elbette ki hatalar olacaktır fakat bunu aşamalı olarak daha iyiye doğru ilerleyen bir süreç olarak görüyorum. Zaten blog yazmanın güzelliği de biraz burada yatıyor.</p>
      <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" style="position: static; visibility: visible; width: 60px; height: 20px;" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.2a008290075125adde2d7b849b06a0bb.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fgetskeleton.com%2F%23examples&amp;related=dhg&amp;size=m&amp;text=Skeleton%20-%20A%20dead%20simple%2C%20responsive%20boilerplate.&amp;time=1591301496640&amp;type=share&amp;url=http%3A%2F%2Fwww.getskeleton.com&amp;via=dhg" data-url="http://www.getskeleton.com"></iframe>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <!-- <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.getskeleton.com&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=151131931646052" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px; width:140px" allowTransparency="true"></iframe> -->
      <iframe src="http://ghbtns.com/github-btn.html?user=dhg&amp;repo=Skeleton&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=dhg&amp;repo=Skeleton&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
    </div>
    
  
  </div>
    

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </body>
</html>