<!DOCTYPE html>
<html lang="tr">
    <head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://tozbulut.github.io/css/normalize.css">
  <link rel="stylesheet" href="https://tozbulut.github.io/css/skeleton.css">
  <link rel="stylesheet" href="https://tozbulut.github.io/css/custom.css">

    <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <link rel="stylesheet" href="https://tozbulut.github.io/css/github-prettify-theme.css">
  <script src="https://tozbulut.github.io/js/site.js"></script>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">


    </head>
    <body class="code-snippets-visible">
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/">Tozbulut</a></li>
   
        
        </ul>
      </div>
    </nav>
      
<ul class="hi2">
<li><a href="https://www.w3schools.com/html/">Hannibal ve Sherlock</a></li>
<li><a href="#">İnsan Olmanın Önemi</a></li>
<li><a href="#">Lotus Çiçeği</a></li>

</ul>



    <hr style=" margin-top: 0px; margin-bottom: 3px; ">
    <p style=" font-size: 0.75em; float: right; ">Tozbulut 2019 • Son Güncelleme: 07.08.2020</p>
  
  </div>
    

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </body>
</html>
