<!DOCTYPE html>
<html lang="tr">
    <head>
        <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <meta name="description" content="" />
        <meta name="author" content="" />

        <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css" />

        <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="https://tozbulut.github.io/css/normalize.css" />
        <link rel="stylesheet" href="https://tozbulut.github.io/css/skeleton.css" />
        <link rel="stylesheet" href="https://tozbulut.github.io/css/custom.css" />

        <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
        <link rel="stylesheet" href="https://tozbulut.github.io/css/github-prettify-theme.css" />
        <script src="https://tozbulut.github.io/js/site.js"></script>
        <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="images/favicon.png" />
    </head>
    <body class="code-snippets-visible">
        
        <div class="container" style=" width: 100%; max-width: 100%; ">
            
            <header class="site-header" style="min-height: 270px; background: #514a9d; background: -webkit-linear-gradient(120deg,#514A9D,#24C6DC); background: linear-gradient(120deg,#514A9D,#24C6DC); position: relative;">
   <div class="wrapper" style=" max-width: calc(800px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; ">
      <div class="profile" style=" text-align: center; ">
         <a href="/ashwath/"> <img class="author-image" alt="site-title" src="https://webjeda.com/ashwath/images/ashwat.jpg"> </a> 
         <h1 class="author-about">Ashwathama</h1>
      </div>
      <div class="menu-category">
         <div class="menu-item"><a class=" menu-link" href="/ashwath/design/">Design</a></div>
         <div class="menu-item"><a class=" menu-link" href="/ashwath/code/">Code</a></div>
         <div class="menu-item"><a class=" menu-link" href="/ashwath/life/">Life</a></div>
      </div>
   </div>
</header>
            
        </div>
        
        <!-- ––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="container">
            <!-- –––––––––––––––––––––––––––––––––––––––––––––––– -->

            <nav class="navbar">
                <div class="container">
                    <ul class="navbar-list">
                        <li class="navbar-item"><a class="navbar-link" style="float: right;" href="/">Tozbulut</a></li>
                    </ul>
                </div>
            </nav>

            <!--  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

            <div class="row" style="margin-top: 4.5rem; margin-bottom: 4.5rem; ">
                <!--  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                
            
                <div class="four columns">One</div>
                <div class="eight columns">
                    <ul class="hi2">
                        <li style=" list-style-type: none; color: #222;"><a style=" text-decoration: none; " href="https://tozbulut.github.io/sanat/2019/10/26/bienal-izlenimleri.html">Bienal İzlenimleri</a></li>
                        <li style=" list-style-type: none; color: #222;"><a style=" text-decoration: none; " href="https://tozbulut.github.io/kitap/2020/04/30/yeraltindan-notlar.html">Yeraltından Notlar</a></li>
                        <li style=" list-style-type: none; color: #222;"><a style=" text-decoration: none; " href="#">Lotus Çiçeği</a></li>
                    </ul>
                    <!--  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
             
                    </div>
            </div>

            <!--  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

            <hr style="margin-top: 0px; margin-bottom: 3px;" />
            <p style="font-size: 0.75em; float: right;">Tozbulut 2019 • Son Güncelleme: 07.08.2020</p>
        </div>

        <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    </body>
</html>
