---
layout: default
---
{% include site-header2.html %}
{% assign feature_image = page.feature_image %}

<main class="main  container">

  <article class="article  article--post  content  typeset">

    <h1>{{ page.title }}</h1>
    <div class=""{% if feature_image %} style="background-image: url({{ feature_image }})"{% endif %}></div>
    {% include post-meta.html %}
    {{ content }}

    {% include nav-share.html %}

    {% include post-comments.html %}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
