---
layout: third
---

<div style=" width: 50%; margin-left: auto; margin-right: auto;">
  <div>
    <div style="padding-top: 50px;height: 160px;padding-bottom: 50px;">
<div style=" float: left; ">

  <img src="/assets/img/0d14923.PNG" style=" width: 200px; ">
</div>
<div style=" float: left;width: 200px;"> </div>
<div style="float: left; font-size: 13px; ">

  
<ul style=" list-style-type: none; margin: 0; padding: 0; ">
  <li style="float: left;padding-left: 10px;"><a href="{{site.baseurl}}/" id="one-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Yazılar</a></li>
  <li style="float: left;padding-left: 10px;"><a href="{{site.baseurl}}/aklima-dusenler/" id="two-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Kısa Kısa</a></li>
  <li style="float: left;padding-left: 10px;"><a href="{{site.baseurl}}/radar/" id="two-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Radar</a></li>
  <li style="float: left;padding-left: 10px;"><a href="{{site.baseurl}}/tags/" id="two-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Etiketler</a></li>
  <li style="float: left;padding-left: 10px;"><a href="{{site.baseurl}}/hakkinda" id="six-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Hakkında</a></li>
</ul>
</div></div>
</div>


<div>
  <div>
  <img src="/assets/img/0d14925.png">
</div>
</div>


<p>{{site.author}}</p>
<p>{{site.about-author}}</p>
<p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>

<div>
{% for post in site.posts %}



<div>

  <div>
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </div>


  <div>
  <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
</div>

</div>
{% endfor %}
</div>
<div class="content-box clearfix">
  {{ content }}
</div>
</div>