---
layout: default
---

<ul>
  <li><a href="{{site.baseurl}}/" id="one-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Yazılar</a></li>
  <li><a href="{{site.baseurl}}/aklima-dusenler/" id="two-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Kısa Kısa</a></li>
  <li><a href="{{site.baseurl}}/radar/" id="two-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Radar</a></li>
  <li><a href="{{site.baseurl}}/tags/" id="two-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Etiketler</a></li>
  <li><a href="{{site.baseurl}}/hakkinda" id="six-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Hakkında</a></li>
</ul>


<aside class="sidebar">
  <header>
    <div class="about">
    
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
     
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">

    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
