---
layout: default
---
<div>

  <img src="/assets/img/0d14923.PNG">
</div>

<div class="hero">
  <img src="/assets/img/0d14925.png">
  <p>Original Artwork © <a href="http://yalestewart.deviantart.com/art/We-Will-Be-Giants-370176475">Dsae Sawwart</a></p>
</div>


<ul>
  <li><a href="{{site.baseurl}}/" id="one-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Yazılar</a></li>
  <li><a href="{{site.baseurl}}/aklima-dusenler/" id="two-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Kısa Kısa</a></li>
  <li><a href="{{site.baseurl}}/radar/" id="two-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Radar</a></li>
  <li><a href="{{site.baseurl}}/tags/" id="two-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Etiketler</a></li>
  <li><a href="{{site.baseurl}}/hakkinda" id="six-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Hakkında</a></li>
</ul>
<p>{{site.author}}</p>
<p>{{site.about-author}}</p>
<p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>

<div class="content-box clearfix">
  {{ content }}
</div>
